[submodule "Firmware/libopencm3"]
	path = Firmware/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "Firmware/fatfs"]
	path = Firmware/fatfs
	url = https://github.com/abbrev/fatfs.git
[submodule "Firmware/CMSIS_5"]
	path = Firmware/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "Firmware/libhelix-mp3"]
	path = Firmware/libhelix-mp3
	url = https://github.com/ultraembedded/libhelix-mp3.git
[submodule "Firmware/FreeRTOS-Kernel"]
	path = Firmware/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
