[submodule "Discovery_Board/libhelix-mp3"]
	path = Discovery_Board/libhelix-mp3
	url = https://github.com/ultraembedded/libhelix-mp3.git
[submodule "Discovery_Board/fatfs"]
	path = Discovery_Board/fatfs
	url = https://github.com/abbrev/fatfs.git
